nav{
    background-image: url(https://s1.1zoom.me/big3/393/Milky_Way_Mountains_Sky_442965.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    text-align: center;
    height: 160px;
    position: sticky;
    top: 0;
}
h1{
    color: rgb(178, 230, 198);
    text-align: center;
    font-family: 'Fascinate', cursive;
    font-size: 65px;
}
h2{
    color: black;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 38px;
}
h3{
    font-family: "Times New Roman", Times, serif;
}
i{
    color: rgb(121, 119, 119);
    float: right;
} 
a{
    color: antiquewhite;
}


